@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #020617; /* Same as bg-slate-950 */
  color: #f8fafc;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

